@import url('..//../style/Colors.css');

.dashboard-box {
  display: flex;
  width: 100%;
  justify-content: center;
  color: white;
  align-items: center;
  padding-top: 100px;
  .dashboard-wrap {
    justify-content: space-between;
    color: var(--dark-blue);
    flex-flow: column;
    .dropDown-box {
      margin-right: 20px;
    }
    .dashboard-controls {
      display: flex;
      margin-bottom: 15px;
      width: 100%;
      justify-content: flex-end;
      align-items: center;
      flex-wrap: wrap;
      .dashboard-search-wrap {
        display: flex;
        align-items: center;
      }
    }
    .dashboard-content {
      display: flex;
      width: 100%;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}

@media screen and (max-width: 800px) {
  .dashboard-box .dashboard-wrap .dashboard-content {
    justify-content: space-around;
  }
}

@media screen and (max-width: 500px) {
  .dashboard-box .dashboard-wrap {
    .dropDown-box {
      margin-right: 0px;
      margin-left: 20px;
    }
    .dashboard-controls {
      flex-wrap: wrap-reverse;
      .dashboard-search-wrap {
        padding-bottom: 10px;
      }
    }
  }
}
