@import url('..//../style/Colors.css');

.dashboard-box {
  display: flex;
  width: 100%;
  justify-content: center;
  color: white;
  align-items: center;
  padding-top: 100px;
  .dashboard-wrap {
    justify-content: space-between;
    color: var(--dark-blue);
    flex-flow: column;
    .dashboard-controls {
      display: flex;
      margin-bottom: 15px;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      .dashboard-years {
        display: flex;
        width: fit-content;
        justify-content: center;
        .dashboard-options {
          margin: 5px;
          padding-bottom: 5px;
          cursor: pointer;
        }
        .isSelected {
          font-weight: bold;
          border-bottom: solid 3px var(--dark-yellow);
        }
      }
      .dashboard-search-wrap {
        display: flex;
        align-items: center;
      }
    }
    .dashboard-content {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
    }
  }
}

@media screen and (max-width: 800px) {
  .dashboard-box .dashboard-wrap .dashboard-content {
    justify-content: space-around;
  }
}

@media screen and (max-width: 500px) {
  .dashboard-box .dashboard-wrap .dashboard-controls {
    flex-wrap: wrap;
    justify-content: flex-end;
    .dashboard-years {
      flex-wrap: wrap;
    }
  }
}
