@import url('../../style/Colors.css');

.loging-box {
  display: flex;
  width: 100%;
  color: #3a3c42;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding-top: 160px;
  .loging-img {
    width: 150px;
    height: auto;
    cursor: pointer;
  }
  .loging-text {
    font-weight: bold;
    font-size: 1.2rem;
    padding-bottom: 30px;
  }
}
